root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4
end_of_line = crlf

[*.{config,xml,js,json,html,css,sql,csproj,props,yml,proto}]
indent_size = 2

[*.cs]
end_of_line = crlf:warning
# use var everywhere
csharp_style_var_for_built_in_types = true:warning
csharp_style_var_when_type_is_apparent = true:warning
csharp_style_var_elsewhere = true:warning
# use file_scoped namespaces
csharp_style_namespace_declarations = file_scoped:warning
# match namespaces to folder structure
#   this fails in a somewhat cryptic manner: "NotSupportedException: Changing document properties is not supported" on dotnet format
dotnet_style_namespace_match_folder = true:warning
dotnet_diagnostic.IDE0130.severity = warning
# Organize usings 
dotnet_sort_system_directives_first = true:warning
# Expression-level preferences
dotnet_style_prefer_conditional_expression_over_return = false
# Don't force `var (a, b) = Foo();` over `var aandbTuple = Foo();`
csharp_style_deconstructed_variable_declaration = false
# private member underscores
dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private
dotnet_naming_symbols.private_static_fields.applicable_kinds = field
dotnet_naming_symbols.private_static_fields.applicable_accessibilities = private
dotnet_naming_symbols.private_static_fields.required_modifiers = static
dotnet_naming_style.underscored.capitalization = camel_case
dotnet_naming_style.underscored.required_prefix = _
dotnet_naming_rule.private_fields_underscored.symbols = private_fields
dotnet_naming_rule.private_fields_underscored.style = underscored
dotnet_naming_rule.private_fields_underscored.severity = warning
# prevent discarded variables
csharp_style_unused_value_expression_statement_preference = discard_variable:warning
csharp_style_unused_value_assignment_preference = discard_variable:warning
dotnet_code_quality_unused_parameters = all:warning
# force brackets (eg on if statements)
csharp_prefer_braces = true:warning
# remove unnecessary using directives
dotnet_diagnostic.IDE0005.severity = warning
# use "is null" rather than "== null"
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:warning # todo this doesn't work
